.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #171717;
  color: #f4f4f4;
  text-align: center;
}

@media (max-width: 960px) {
  .footer {
    display: none;
  }
}
