.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 15%;
  background-color: #171717;
  color: #f4f4f4;
  text-align: center;
  font-family: "BankGothicRegular";
  padding: 1rem 0;
  line-height: 1.2;
  top: 120;
  overflow: hidden;
}

@media (max-width: 960px) {
  .footer {
    display: none;
  }
}

.footer__link {
  color: #f4f4f4;
}

.footer__link:hover {
  color: orange;
}
