.about__container {
  position: relative;
  min-height: 100vh;
  margin-bottom: 2rem;
  width: 100%;
}
.about__screen__top {
  font-family: "Eurostile";
  background-color: #162232;
  color: #f4f4f4;
  text-align: center;
  padding: 2rem;
}

.about__header__text {
  padding-bottom: 2rem;
}

.once__upon {
  font-family: "BankGothicRegular";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.about__video__div {
  position: relative;
  text-align: center;
  height: 100px;

  margin-bottom: 10rem;
}

#video__history {
  width: 100%;
  height: 400px;
  position: relative;
  object-fit: cover;
}

.about__text__div {
  height: 100px;
  border: 2px solid red;
  position: relative;
  padding: 1rem;
  background-color: #171717;
  color: #f4f4f4;
  width: 100%;
}

.about__credits {
  margin-bottom: 10rem;
  height: fit-content;
  padding: 2rem;
  position: relative;
  border: 2px solid red;
  margin-top: 6rem;
  color: #f4f4f4;
  background-color: #162232;
  text-align: center;
}
