.about__container {
  position: relative;
  min-height: 100vh;
}
.about__screen {
  font-family: "Eurostile";
  background-color: #162232;
  color: #f4f4f4;

  text-align: center;
  padding: 2rem;
}

h2 {
  font-family: "BankGothicRegular";
}

.about__video {
  position: sticky;
  margin: auto;
}

#video__history {
  height: 250px;
  width: 250px;
}

.about__places {
  height: 100%;
  width: 100%;
  position: sticky;
}
.about__ships {
  height: 100%;
  width: 100%;
  position: sticky;
}

.about__credits {
  margin-bottom: 2rem;
}

.about__button {
  font-size: 1.2rem;
  font-family: "BankGothicRegular";
  width: 20%;
  margin: 1rem;
  height: 3rem;
  border-radius: 8px;
  background-color: #171717;
  opacity: 80%;
  border: 2px solid #f4f4f4;
  color: #f4f4f4;
}

.about__button:hover {
  background-color: #171717;
  opacity: 70%;
  border: 2px solid #ffa500;
}
