.contact__container {
  position: relative;
  min-height: 100vh;
  height: 100vh;
}

.contact__page {
  font-family: "Eurostile";
  background-color: #162232;
  color: #f4f4f4;
  text-align: center;
  padding: 2rem;
  height: 100vh;
}

.contact__form {
  border: 2px solid orange;
  width: 50%;
  margin: auto;
}

.contact__address {
  padding: 2rem;
}
