#video {
  position: fixed;
  z-index: -1;
  height: 220vh;
  width: auto;
  opacity: 95%;
}

.homescreen__div {
  color: #f4f4f4;
  font-family: "BankGothicRegular";

  align-items: center;
}

.homescreen__title {
  padding-top: 2rem;
  padding-left: 2rem;
  text-align: center;
}

.homescreen__shop__button {
  width: 30%;
  font-family: "BankGothicRegular";
  display: block;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 9rem;
  height: 5rem;
  border-radius: 8px;
  background-color: #171717;
  opacity: 80%;
  border: 2px solid #f4f4f4;
  color: #f4f4f4;
  font-size: 2rem;
  text-decoration: none;
}

.homescreen__shop__button:hover {
  background-color: #171717;
  opacity: 70%;
  border: 2px solid orange;
}

.homescreen__button {
  font-size: 1.2rem;
  font-family: "BankGothicRegular";
  width: 20%;
  display: block;
  margin: auto;
  margin-top: 2rem;

  height: 3rem;
  border-radius: 8px;
  background-color: #171717;
  opacity: 80%;
  border: 2px solid #f4f4f4;
  color: #f4f4f4;
}

.homescreen__button:hover {
  background-color: #171717;
  opacity: 70%;
  border: 2px solid #ffa500;
}

@media (max-width: 960px) {
  .homescreen__shop__button {
    width: 75%;
  }

  .homescreen__shop__button:hover {
    background-color: #171717;
    opacity: 80%;
    border: 2px solid orange;
  }

  .homescreen__button {
    width: 50%;
  }

  .homescreen__button:hover {
    background-color: #171717;
    opacity: 80%;
    border: 2px solid #ffa500;
  }
}
